@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amaranth&family=Kanit&family=Ubuntu&display=swap');

/* 
font-family: 'Acme', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/